html {
    font-size: 62.5%;
}
body > .container {
    width: 100%;
    padding-top: 0px;
}
header .container {
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:480px) {
    html {
        font-size: 100%;
    }
    header .container {
        width: 75%;
    }
}
@media screen and (min-width:1280px) {
    html {
        font-size: 125%;
    }
    body > .container {
        width: 50%;
    }
    header .container {
        width: 50%;
    }
}
body {
    margin: 0;
}
div {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 100%;
}
header {
    border-bottom: solid 0.1rem #000;
    height: 70px;
}
header h1 {
    margin: 0;
    height: 100%;
    line-height: 70px;
    font-size: 1.8rem;
}
.header-menu {
    display: flex;
    align-items: center;
    font-size: 1.0rem;
}
.header-menu a {
    padding: 0.1rem;
    margin-left: 1.0rem;
}