{% extends 'app/base.html' %}
{% load static %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="{% static 'app/css/popup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/slide.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/graph.css' %}">

{% block other_head %}
{% endblock %}

{% endblock %}


{% block content %}

{% block graph %}
{% endblock %}

<div id=main-graph>
    <canvas id=outgoCanvas></canvas>
</div>


<!--ポップアップ-->
<div class="popup-background"></div>
<div class="popup-overlay">
    <div class="popup-content">
        <div id="popup-date"></div>
        <button class="close"> ✖ </button>
        <div id="popup-table" class="table-wrapper-scroll-y my-custom-scrollbar"></div>
    </div>
</div>

<!--表-->
<div id="graph-table" class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
        {% for tmp in month_total %}
        <tr>
            <td>{{tmp.month}}</td>
            <td>{{tmp.total}}円</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}


{% block extrajs %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'app/js/popup.js' %}"></script>
<script type="text/javascript" src="{% static 'app/js/graph.js' %}"></script>

{% block otherjs %}
{% endblock %}

{% endblock %}