{% extends 'app/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/popup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/slide.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/button.css' %}">

<!-- Bootstrap-datepicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
    rel="stylesheet" type="text/css">
{% endblock %}

{%block content%}
<div class="flex">
    <a href="{% url 'app:monthly_graph'%}" class="button">日付</a>
    <a href="" class="button" id="now">カテゴリ</a>
</div>
<!--カテゴリ選択を行うフォーム-->
<div class="form-group" id="datepicker-startview">
    <label class="col-sm-3 control-label">Start view</label>
    <div class="col-sm-9 form-inline">
        <div class="input-group date">
            <input type="text" class="form-control">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-th"></i>
            </span>
        </div>
    </div>
</div>

<canvas id=outgoCanvas></canvas>

<!--グラフから生成するポップアップ-->
<div class="popup-overlay">
    <div class="popup-content">
        <div id="popup-date"></div>
        <button class="close"> ✖ </button>
        <div id="popup-table" class="table-wrapper-scroll-y my-custom-scrollbar"></div>
    </div>
</div>

<div class="popup-background"></div>
<!--グラフの詳細，別ページでもいいかもしれない-->
<h2>表</h2>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <div id="graph-table">
        <table class="table">
            <tr>
                <th>日付</th>
                <th>金額</th>
            </tr>
            {% for tmp in month_total %}
            <tr>
                <td>{{tmp.month}}</td>
                <td>{{tmp.total}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{%endblock%}


{% block extrajs %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'app/js/popup.js' %}"></script>
<!-- Bootstrap-datepicker -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ja.min.js"></script>
<script type="text/javascript">

    $(function () {
        $('#datepicker-startview .date').datepicker({
            startView: 1,
            language: "ja",
            format: 'yyyy/mm',
            autoclose: true,
            minViewMode: 'months',
        });
    });

    var drawGraph = function (data_x, data_y) {
        // グラフの最大値を推定
        var itemMax = Math.max.apply(null, data_y);
        var index = Math.floor(Math.log10(itemMax));
        itemMax = Math.ceil(itemMax / 10 ** index) * 10 ** index;
        // グラフの描画
        var outgoCanvas = document.getElementById("outgoCanvas");
        var ctx = outgoCanvas.getContext('2d');

        Chart.defaults.global.defaultFontColor = 'black';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontStyle = "bold";
        Chart.defaults.global.defaultFontFamily = "Arial";

        window.lineChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [...data_x],
                datasets: [{
                    label: "A",
                    data: [...data_y],

                    backgroundColor: 'rgba(110,121,92,0.1)',
                    borderColor: 'rgba(110,121,92,1)',
                    lineTension: 0,

                    pointRadius: 10,
                    pointHitRadius: 15,
                    pointBackgroundColor: 'rgba(110,121,92,1)',
                    pointBorderColor: 'rgba(110,121,92,1)',
                },
                ]
            },
            options: {
                title: {
                    display: false,
                    text: 'グラフ'
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [
                        {
                            gridLines: {
                                color: 'rgba(166, 177, 147, 1)',
                                lineWidth: 4,
                                borderDash: [4, 1],
                            }
                        }
                    ],
                    yAxes: [
                        {
                            gridLines: {
                                color: 'rgba(166, 177, 147, 1)',
                                zeroLineColor: 'rgba(166, 177, 147, 1)',
                                borderDash: [2, 1],
                            },
                            ticks: {
                                suggestedMax: itemMax + 1,
                                suggestedMin: 0, // 要改善
                                stepSize: itemMax / 2, // 適当
                                callback: function (value, index, values) {
                                    return value // + '円'
                                }
                            }
                        }
                    ],
                },
            }
        });
        // グラフの点をクリックした際の処理を追加
        outgoCanvas.onclick = function (e) {
            var item = lineChart.getElementAtEvent(e);
            if (!item.length) return; // return if not clicked on slice
            var index = item[0]._index;
            $(".popup-overlay, .popup-content, .popup-background").addClass("active");
            $.ajax({
                url: '{% url "app:ajax_get_item" %}',
                type: 'GET',
                data: {
                    'point_id': index,
                }
            }).done(response => {
                var itemList = response.itemList
                // jQueryによるパターン
                $("#popup-date").html("");
                target = $("#popup-date");
                text = "<h2>" + item[0]._xScale.ticks[index] + "</h2>";
                $(target).append(text);

                $("#popup-table").html("");
                target = $("#popup-table")
                var text = '<table class="table"><tr><th>日付</th><th>金額</th><th>大カテゴリ</th><th>小カテゴリ</th></tr>';
                var line = '';
                for (var n in itemList) {
                    line = line + "<tr><td>" + itemList[n].item + "</td><td>" + itemList[n].price + "</th><td>" + itemList[n].big_category + "</td><td>" + itemList[n].small_category + "</td></tr>";
                }
                text = text + line + '</table>';
                $(target).append(text);
            });
        }
    };
    // カテゴリ選択に合わせてグラフを更新 
    const changeGraph = (select) => {
        if (lineChart) { lineChart.destroy(); }
        $.ajax({
            url: "{% url 'app:ajax_get_category_graph' %}",
            type: 'GET',
            data: {
                'date_selected': dateElement.val(),
            }
        }).done(response => {
            // グラフを更新
            var x = [];
            var y = [];
            var month_total = response.month_total
            for (const tmp of month_total) {
                x.push(tmp.month);
                y.push(tmp.total);
            }
            drawGraph(x, y);
            // テーブルを更新
            $("#graph-table").html("");
            target = $("#graph-table");
            text = "<table class='table'>\n<tr>\n<th>日付</th>\n<th>金額</th>\n</tr>\n";
            var line = '';
            for (const tmp of month_total) {
                line = line + "<tr>\n<td>" + tmp.month + "</td>\n<td>" + tmp.total + "</td>\n</tr>\n";
            }
            text = text + line + "</table>";
            $(target).append(text);
        });
    };
    const dateElement = $('.form-control');
    // カテゴリ選択に合わせて実行する処理
    dateElement.on('change', () => {
        console.log(dateElement.val())
        changeGraph();
    });
    // init
    var x = [];
    var y = [];
    {% for tmp in month_total %}
    x.push("{{ tmp.month }}");
    y.push("{{ tmp.total }}");
    {% endfor %}
    drawGraph(x, y);
</script>
{% endblock %}