{% extends 'app/base.html' %} 
 
{% block content %} 

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a> 
</div> 
 
<form action="{% url 'app:category_new2' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>             
            <th>大カテゴリー</th>
            <td>{{ form.big_category }}</td>
        </tr>
        <tr>
            <th>小カテゴリー</th>             
            <td>{{ form.small_category }}</td>        
        </tr>
    </table>
    <button type="submit" class="btn">保存</button> 
</form> 
{% endblock %}

{% block extrajs %}
    <script>
        const bigCategoryElement = $('#id_big_category');
        const categoryElement = $('#id_category');
        const categories = {
            {% for big_category in bigcategory_list %}
                '{{ big_category.pk }}': [
                    {% for small_category in big_category.smallcategory_set.all %}
                        console.log(small_category);
                        {
                            'pk': '{{ small_category.pk }}',
                            'name': '{{ small_category.small_category }}'
                        },
                    {% endfor %}
                ],
            {% endfor %}
        };


        const changeCategory = (select) => {
            // 子カテゴリの選択欄を空にする。
            categoryElement.children().remove();

            // 選択した親カテゴリに紐づく子カテゴリの一覧を取得する。
            const bigCategoryId = bigCategoryElement.val();
            const categoryList = categories[bigCategoryId];

            // 子カテゴリの選択肢を作成・追加。
            for (const category of categoryList) {
                const option = $('<option>');
                option.val(category['pk']);
                option.text(category['name']);
                categoryElement.append(option);
            }

            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                categoryElement.val(select);
            }
        };


        $('#id_big_category').on('change', () => {
            changeCategory();
        });


        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (bigCategoryElement.val()) {
            const selectedCategory = categoryElement.val();
            changeCategory(selectedCategory);
        }

    </script>
{% endblock %}