{% extends 'app/base.html' %}
{% load static %}
{%block content%}

<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Chart.js</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/popup.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>
</head>

<body>
    <!--Creates the popup body-->
    <div class="popup-overlay">
        <!--Creates the popup content-->
        <div class="popup-content">
            <div id="wrap">
            </div>
            <!--popup's close button-->
            <button class="close">Close</button>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'app/js/popup.js' %}"></script>

    <h1>Chart js</h1>
    <canvas id=outgoCanvas height="200px"></canvas>
    <script type="text/javascript">

        var drawGraph = function (x, y) {
            /* idが"radar-chart"の要素を取得 */
            var outgoCanvas = document.getElementById("outgoCanvas");
            var ctx = outgoCanvas.getContext('2d')

            var array = []
            {% for tmp in x_axis %}
            array.push("{{ tmp }}")
            {% endfor %}

            var itemMax = Math.max.apply(null, {{ y_axis }})

        /* 上記要素にチャートを描画　*/
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [...array],
                datasets: [{
                    label: "A",
                    pointHitRadius: 15,
                    data: {{ y_axis }},
        },
                    ]
                },
        options: {
            title: {
                display: true,
                    text: 'グラフ'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMax: itemMax,
                        suggestedMin: 0,
                        stepSize: 1000,
                        callback: function (value, index, values) {
                            return value + '円'
                        }
                    }
                }]
            },
        }
            });

        outgoCanvas.onclick = function (e) {

            var item = lineChart.getElementAtEvent(e);
            if (!item.length) return; // return if not clicked on slice
            var index = item[0]._index;

            $(".popup-overlay, .popup-content").addClass("active");

            $.ajax({
                url: '{% url "app:ajax_get_itemList" %}',
                type: 'GET',
                data: {
                    'point_id': index,
                }
            }).done(response => {
                var itemList = response.itemList
                // jQueryによるパターン
                $("#wrap").html("");
                target = $("#wrap")
                for (var n in itemList) {
                    // console.log(n)
                    var text = '<li>';
                    line = itemList[n].item + "/" + itemList[n].big_category + "/" + itemList[n].small_category + "/" + itemList[n].price;
                    text = text + line + '</li>';
                    $(target).append(text);
                }
            });
            /* 凛ちゃん用のテスト*/
            $.ajax({
                url: '{% url "app:ajax_get_category" %}',
                type: 'GET',
                data: {
                    'pk': "1",
                }
            }).done(response => {
                var categoryList = response.categoryList
                console.log(categoryList);
            });

        }
        };
        window.onload = function () {
            drawGraph("{{x.0}}", "{{y}}");
        };

    </script>

</body>

</html>
{%endblock%}