{% extends 'app/base.html' %}
{% load static %}

{%block content%}

<!DOCTYPE html>
<html lang="ja">

<head>
    <title>Chart.js</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/popup.css' %}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

    <!--Creates the popup body-->
    <div class="popup-overlay">
        <!--Creates the popup content-->
        <div align="center" class="popup-content">
            <div id="wrap">
            </div>
            <!--popup's close button-->
            <button class="close">Close</button>
        </div>
    </div>

    <h1 class="hoge text-primary">検索条件</h1>

    <form action="{% url 'app:graph' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <table>
            <tr>
                <th>大カテゴリ</th>
                <td>{{ form.big_category }}</td>
                <th>小カテゴリ</th>
                <td>{{ form.small_category }}</td>
                <th><button type="submit" class="btn">検索</button></th>
            </tr>
        </table>
    </form>

    <h1 align="center">{{big_category.name}} - {{small_category.name}}</h1>

    <script type="text/javascript" src="{% static 'app/js/popup.js' %}"></script>

    <canvas id=outgoCanvas height="200" width="400"></canvas>
    <script type="text/javascript">

        // グラフの中で参照できる形式に変換
        var data_x = [];
        {% for tmp in month_total %}
        data_x.push("{{ tmp.month }}");
        {% endfor %}
        var data_y = [];
        {% for tmp in month_total %}
        data_y.push("{{ tmp.total }}");
        {% endfor %}
        // グラフの最大値を推定
        var itemMax = Math.max.apply(null, data_y);
        var index = Math.floor(Math.log10(itemMax));
        itemMax = Math.ceil(itemMax / 10 ** index) * 10 ** index;
        // グラフの描画
        var drawGraph = function (x, y) {
            var outgoCanvas = document.getElementById("outgoCanvas");
            var ctx = outgoCanvas.getContext('2d');

            Chart.defaults.global.defaultFontColor = 'black';
            Chart.defaults.global.defaultFontSize = 18;
            Chart.defaults.global.defaultFontStyle = "bold";
            Chart.defaults.global.defaultFontFamily = "Arial";

            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [...data_x],
                    datasets: [{
                        label: "A",
                        data: [...data_y],

                        backgroundColor: 'rgba(60, 160, 220, 0.1)',
                        borderColor: 'rgba(60, 160, 220, 0.8)',
                        lineTension: 0,

                        pointRadius: 10,
                        pointHitRadius: 15,
                        pointBackgroundColor: 'rgba(60, 160, 220, 1)',
                        pointBorderColor: 'rgba(60, 160, 220, 0.8)',
                    },
                    ]
                },
                options: {
                    title: {
                        display: false,
                        text: 'グラフ'
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [
                            {
                                gridLines: {
                                    color: 'rgba(251, 214, 58, 0.8)',
                                    lineWidth: 4
                                }
                            }
                        ],
                        yAxes: [
                            {
                                gridLines: {
                                    color: 'rgba(251, 61, 49, 0.8)',
                                    zeroLineColor: 'rgb(128, 0, 255)',
                                    borderDash: [4, 1],
                                },
                                ticks: {
                                    suggestedMax: itemMax + 1,
                                    suggestedMin: 0, // 要改善
                                    stepSize: itemMax / 2, // 適当
                                    callback: function (value, index, values) {
                                        return value // + '円'
                                    }
                                }
                            }
                        ],
                    },
                }
            });
            // グラフの点をクリックした際の処理を追加
            outgoCanvas.onclick = function (e) {

                var item = lineChart.getElementAtEvent(e);
                if (!item.length) return; // return if not clicked on slice
                var index = item[0]._index;

                $(".popup-overlay, .popup-content").addClass("active");

                $.ajax({
                    url: '{% url "app:ajax_get_item" %}',
                    type: 'GET',
                    data: {
                        'point_id': index,
                    }
                }).done(response => {
                    var itemList = response.itemList
                    // jQueryによるパターン
                    $("#wrap").html("");
                    target = $("#wrap")
                    var text = '<table class="table"><tr><th>日付</th><th>金額</th><th>大カテゴリ</th><th>小カテゴリ</th></tr>';
                    var line = '';
                    console.log(itemList)
                    for (var n in itemList) {
                        line = line + "<tr><th>" + itemList[n].item + "</th><td>" + itemList[n].big_category + "</td><td>" + itemList[n].small_category + "</td><td>" + itemList[n].price + "</td></tr>";
                    }
                    text = text + line + '</table>';
                    $(target).append(text);
                });
            }
        };
        window.onload = function () {
            drawGraph("{{x.0}}", "{{y}}");
        };
    </script>

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
            <tr>
                <th>日付</th>
                <th>金額</th>
            </tr>
            {% for tmp in month_total %}
            <tr>
                <td>日付</td>
                <td>金額</td>
            </tr>
            <tr>
                <td>{{tmp.month}}</td>
                <td>{{tmp.total}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>
{%endblock%}


{% block extrajs %}
<script>
    const bigCategoryElement = $('#id_big_category');
    const smallCategoryElement = $('#id_small_category');

    const changeCategory = (select) => {
        // 子カテゴリの選択欄を空にする。
        smallCategoryElement.children().remove();

        $.ajax({
            url: "{% url 'app:ajax_get_category' %}",
            type: 'GET',
            data: {
                'pk': bigCategoryElement.val(),
            }
        }).done(response => {
            // 子カテゴリの選択肢を作成・追加
            const option = $('<option>');
            option.val("");
            option.text("すべて");
            smallCategoryElement.append(option);
            for (const smallCategory of response.smallCategoryList) {
                const option = $('<option>');
                option.val(smallCategory['pk']);
                option.text(smallCategory['name']);
                smallCategoryElement.append(option);
            }
            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                smallCategoryElement.val(select);
            }
        });
    };
    // 大カテゴリのオプション追加をここに書く
    bigCategoryElement.on('change', () => {
        changeCategory();
    });
    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (bigCategoryElement.val()) {
        const selectedCategory = smallCategoryElement.val();
        changeCategory(selectedCategory);
    }
</script>
{% endblock %}