{% extends 'app/base.html' %} 
 
{% block content %} 

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a> 
</div> 

<form action="" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">送信</button>
</form> 
{% endblock %}


{% block extrajs %}
    <script>
        const bigCategoryElement = $('#id_big_category');
        const smallCategoryElement = $('#id_small_category');

        const changeCategory = (select) => {
            // 子カテゴリの選択欄を空にする。
            smallCategoryElement.children().remove();

            $.ajax({
                url: '{% url "app:ajax_get_category" %}',
                type: 'GET',
                data: {
                    'pk': bigCategoryElement.val(),
                }
            }).done(response => {
                // 子カテゴリの選択肢を作成・追加。
                for (const smallCategory of response.smallCategoryList) {
                    const option = $('<option>');
                    option.val(smallCategory['pk']);
                    option.text(smallCategory['name']);
                    smallCategoryElement.append(option);
                }

                // 指定があれば、そのカテゴリを選択する
                if (select !== undefined) {
                    smallCategoryElement.val(select);
                }

            });
        };

        bigCategoryElement.on('change', () => {
            changeCategory();
        });

        // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
        if (bigCategoryElement.val()) {
            const selectedCategory = smallCategoryElement.val();
            changeCategory(selectedCategory);
        }
    </script>
{% endblock %}