{% extends 'app/base.html' %}
{% block content %}
<br>
<form class="form-signin" method="post">{% csrf_token %}
    {% if form.errors %}
    <p>ユーザー名かパスワードが間違っています。</p>
    {% endif %}
    <h2>ログイン</h2>
    <label>ユーザー名</label>
    <input name="username">
    <br>
    <label>パスワード</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="ログイン">
    <br>
    <br>
    <span style="border-bottom: solid 2px black;"><a href="{% url 'app:signup' %}">サインアップはこちら</a></span>
</form>
{% endblock %}