{% extends 'app/base_graph.html' %}
{% load static %}

{% block graph %}
<div class="flex">
    <a href="" class="button" id="now">日付</a>
    <a href="{% url 'app:category_graph'%}" class="button">カテゴリ</a>
</div>

<!--カテゴリ選択を行うフォーム-->
<table class="table category-select-table">
    <tr>
        <th>大カテゴリ</th>
        <td>{{ form.big_category }}</td>
        <th>小カテゴリ</th>
        <td>{{ form.small_category }}</td>
    </tr>
</table>
{% endblock %}

{% block otherjs %}
<script type="text/javascript">
    // カテゴリ選択に合わせてグラフを更新 
    const changeGraph = (select) => {
        if (lineChart) { lineChart.destroy(); }
        $.ajax({
            url: "{% url 'app:ajax_get_graph' %}",
            type: 'GET',
            data: {
                'big_category_selected': bigCategoryElement.val(),
                'small_category_selected': smallCategoryElement.val(),
            }
        }).done(response => {
            // グラフを更新
            var x = [];
            var y = [];
            var month_total = response.month_total
            for (const tmp of month_total) {
                console.log(tmp)
                x.push(tmp.month);
                y.push(tmp.total);
            }
            drawGraph(x, y, type_chart = "line");
            // テーブルを更新
            $("#graph-table").html("");
            target = $("#graph-table");
            text = "<table class='table'>\n<tr>\n<th>日付</th>\n<th>金額</th>\n</tr>\n";
            var line = '';
            for (const tmp of month_total) {
                console.log(tmp)
                line = line + "<tr>\n<td>" + tmp.month + "</td>\n<td>" + tmp.total + "</td>\n</tr>\n";
            }
            text = text + line + "</table>";
            console.log(text)
            $(target).append(text);
        });
    };

    const bigCategoryElement = $('#id_big_category');
    const smallCategoryElement = $('#id_small_category');
    // 大カテゴリの選択に合わせて，小カテゴリの内容を変更
    const changeCategory = (select) => {
        smallCategoryElement.children().remove();
        $.ajax({
            url: "{% url 'app:ajax_get_category' %}",
            type: 'GET',
            data: {
                'pk': bigCategoryElement.val(),
            }
        }).done(response => {
            // 小カテゴリの選択肢を作成・追加
            const option = $('<option>');
            option.val("");
            option.text("すべて");
            smallCategoryElement.append(option);
            for (const smallCategory of response.smallCategoryList) {
                const option = $('<option>');
                option.val(smallCategory['pk']);
                option.text(smallCategory['name']);
                smallCategoryElement.append(option);
            }
            // 指定があれば、そのカテゴリを選択する
            if (select !== undefined) {
                smallCategoryElement.val(select);
            }
        });
    };
    // カテゴリ選択に合わせて実行する処理
    bigCategoryElement.on('change', () => {
        changeCategory();
        changeGraph();
    });
    smallCategoryElement.on('change', () => {
        changeGraph();
    });
    // 入力値に問題があって再表示された場合、ページ表示時点で小カテゴリが絞り込まれるようにする
    if (bigCategoryElement.val()) {
        const selectedCategory = smallCategoryElement.val();
        changeCategory(selectedCategory);
    }
    // init
    var x = [];
    var y = [];
    {% for tmp in month_total %}
    x.push("{{ tmp.month }}");
    y.push("{{ tmp.total }}");
    {% endfor %}
    drawGraph(x, y, type_chart = "line");
</script>
{% endblock %}