.graph-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top : 1.0rem;
    width: 100%;
    font-size: 1.0rem;
}

.graph-form > div {
    margin-right: 1.0rem;
}

/*popup close button*/
.graph-form button {
    font-size: 1.0rem;
}
.graph-form button:hover {
    /*background: #666666;*/
    color: #ffffff;
}

